/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************************/
/*       SADAN CUSTOM STYLES      */
/**********************************/

#sadan-wrapper {
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	width: 100%;
	height: 100%;
}
#hdr {
	width: 100%;
	height: 75px;
	text-align: center;
	background-color: #fff;
	border: none;
	border-bottom: 2px solid #000;
}
#hdr #logo {
	position: relative;
	width: auto;
	height: 100%;
}
.main {
	position: relative;
	padding: 15px;
	margin-left: 10%;
	margin-top: 10%;
	width: 80%;
	min-height: 250px;
	height: auto;
	background-color: #dcdcdc;
	border-radius: 10px;
	text-align: center;
	box-sizing: border-box;
}
.main p {
	margin-bottom: 50px;
}
.mytext {
	font-weight: bold;
	font-size: 30px;
	color: #FA1607;
}
.text {
	font-size: 18px;
	font-weight:bold;
}
.person {
	width:75px;
	height:75px;
	margin-bottom: 10px;
}
.sadan-btn {
	display: inline-block;
    margin: 0;
    width: 49%;
    box-sizing: border-box;
}
.block-img img {
	margin-top: 20px;
}
.pad-extra1 {
	padding-top: 40px;
}
.pad-extra2 {
	padding-top: 75px;
}
.photo-wrapper {
	position: absolute;
	top:77px;
	bottom: 77px;
	left: 0;
	right: 0;
	width: auto;
	height: auto;
	background-color: #000;
	box-sizing: border-box;
}
.photo-wrapper .photo-main {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 85%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../assets/photos/pic1.jpg);
}
.photo-wrapper .photo-list {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background-color: #ccc;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	border-top: 4px solid #000;
}
.photo-wrapper .inner {
	width: 770px;
	height: 75px;
}
.photo-list .thumb {
	float: left;
	display: inline-block;
	width: 75px;
	height: 75px;
	border-right: 2px solid #000;
	background-color: #fff;
	background-size: cover;
}
.photo-list #thumb1 { background-image: url(../assets/photos/pic1.jpg); }
.photo-list #thumb2 { background-image: url(../assets/photos/pic2.jpg); }
.photo-list #thumb3 { background-image: url(../assets/photos/pic3.jpg); }
.photo-list #thumb4 { background-image: url(../assets/photos/pic4.jpg); }
.photo-list #thumb5 { background-image: url(../assets/photos/pic5.jpg); }
.photo-list #thumb6 { background-image: url(../assets/photos/pic6.jpg); }
.photo-list #thumb7 { background-image: url(../assets/photos/pic7.jpg); }
.photo-list #thumb8 { background-image: url(../assets/photos/pic8.jpg); }
.photo-list #thumb9 { background-image: url(../assets/photos/pic9.jpg); }
.photo-list #thumb10 { background-image: url(../assets/photos/pic10.jpg); }
.photo-list #thumb11 { background-image: url(../assets/photos/pic11.jpg); }

.photo-main.photo1 { background-image: url(../assets/photos/pic1.jpg); }
.photo-main.photo2 { background-image: url(../assets/photos/pic2.jpg); }
.photo-main.photo3 { background-image: url(../assets/photos/pic3.jpg); }
.photo-main.photo4 { background-image: url(../assets/photos/pic4.jpg); }
.photo-main.photo5 { background-image: url(../assets/photos/pic5.jpg); }
.photo-main.photo6 { background-image: url(../assets/photos/pic6.jpg); }
.photo-main.photo7 { background-image: url(../assets/photos/pic7.jpg); }
.photo-main.photo8 { background-image: url(../assets/photos/pic8.jpg); }
.photo-main.photo9 { background-image: url(../assets/photos/pic9.jpg); }
.photo-main.photo10 { background-image: url(../assets/photos/pic10.jpg); }
.photo-main.photo11 { background-image: url(../assets/photos/pic11.jpg); }

.photo-wrapper .music-main {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../assets/music.png);
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 75px;
	text-align: center;
	background-color: #f6f6f6;
	border: none;
	border-top: 2px solid #000;
}
#footer .ui-btn {
	margin: 0;
	width: 32%;
	height: 100%;
	box-sizing: border-box;
	border: none;
	border-right: 1px solid #cd040b;
}
#footer.two-icons .ui-btn {
	width: 49%;
}
#footer .ui-btn:last-child {
	border: none;
}